<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {%- render 'meta-tags' -%}
    <title>
      {%- if page_title -%}
        {{ page_title }} &middot; {{ shop.name }}
      {%- else -%}
        {{ shop.name }}
      {%- endif -%}
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Lora:wght@600&family=DM+Sans:wght@400;500&display=swap" rel="stylesheet">
    {%- render 'css-variables' -%}
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ content_for_header }}
  </head>
  <body>
    <a class="skip-to-content" href="#main-content">
      {{- 'general.accessibility.skip_to_content' | t -}}
    </a>

    {%- sections 'header-group' -%}

    <main id="main-content" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {%- sections 'footer-group' -%}

    <script src="{{ 'global.js' | asset_url }}" defer></script>
  </body>
</html>
